<!DOCTYPE html>
<!--{% load static %}-->
{% load rest_framework %}
<title>Comments</title>
<link rel="stylesheet" href="{% static 'comments.css' %}">
<STYLE>A {text-decoration: none;} </STYLE>

<html><body>

    <div class="nav" id='sticky'>
        <a class="title" href="{% url 'home' %}">Natto</a>Natto
        <nav>

            <form  arial-label="profile picture" accept-charset="UTF-8" method="post">
                <img src="{% static 'profile.png' %}" class="image-circle">
            <input type="text" placeholder="Search..">
            <ul>
                <li><a href=".">Profile</a></li>
                <li><a href="{% url 'my_posts' %}">My Post</a></li>
                <li><a href="{% url 'get_post_for_user' %}">Other's Posts</a></li>
                <li><a href="#">Followers</a></li>
                <li><a href="#">My photos</a></li>
                <li><a href="{% url 'friend_requests' %}">Friend Requests</a></li>
                <li><a id='logout' href="{% url 'logout' %}">LOGOUT</a></li>

            </ul>
        </nav>
    </div>

<div class="pro">
<h1>Comments</h1>
<a id = "mypost" class="float-left submit-button" href = "{% url 'my_posts' %}"><span>MyPosts</span></a>
<a id = 'mypost' class="float-left submit-button" href = "{% url 'get_post_for_user' %}"><span>Other's Post</span></a>
<a id="add_comment" class="float-left submit-button" ><span>Add Comment</span></a>
<!-- <button id="add_comment" class="float-left submit-button" >Add Comment</button> -->
<script type="text/javascript">
    document.getElementById("add_comment").onclick = function () {
    location.href = window.location.href + "add_comment/";
    };
</script>

<p>Number of comments: {{count}}</p>

<div id="holder"></div>
<script type="application/javascript" src="https://cdn.rawgit.com/jgm/commonmark.js/master/dist/commonmark.js"></script>
<script type="text/javascript">
function show_comment(data) {
    var holder = document.getElementById("holder");
    for (var i = 0; i < data.comments.length; i++) {
        let comment = document.createElement("div");
        holder.appendChild(comment);

        var author = document.createElement("a");
        var author_id = data.comments[i]['author']['id'];
        author.innerHTML = 'Author: ' + data.comments[i].author.displayName;
        author.href = '/author/' + author_id +'/';
        author.style.fontSize = '25px';
        author.style.display = "inline-block";
        comment.appendChild(author);
        var line = document.createElement("hr");
        comment.appendChild(line);
        if (data.comments[i].contentType == "image/png;base64" || data.comments[i].contentType == "image/jpeg;base64") {
            var content = document.createElement("img");
            content.src = data.comments[i].comment;
            content.style.width = "50%";
            content.style.height = "50%";
        }
        else if (data.comments[i].contentType == "text/plain")
        {
          var content = document.createElement("textarea");
          content.innerHTML = data.comments[i].comment;
        }
        else if (data.comments[i].contentType == "text/markdown")
        {
          var content = document.createElement("div");
          var reader = new commonmark.Parser();
          var writer = new commonmark.HtmlRenderer({softbreak: "<br />"});
          var parsed = reader.parse(data.comments[i].comment); // parsed is a 'Node' tree
          // transform parsed if you like...
          var result = writer.render(parsed);
          content.insertAdjacentHTML('beforeend', result);
        }
        comment.appendChild(content);
        if (data.next != null) {
            var nextButton = document.createElement("button");
            nextButton.innerHTML = 'next page';
            nextButton.onclick = function () {
                 get_data_display(data.next);
            };
            holder.appendChild(nextButton);
        }
        if (data.previous != null) {
            var preButton = document.createElement("button");
            preButton.innerHTML = 'previous page';
           preButton.onclick=function(){
                get_data_display(data.previous);
            };
            holder.appendChild(preButton);
        }
    }
}

function fetchJSON(url) {
  var request = new Request(url, {
              method: 'GET',
              headers: {
                   'Content-Type': 'application/json'
              }, });
  return fetch(request).then((response) => {
    if (response.status === 200) { // OK
      return response.json(); // return a Promise
    } else {
      alert("Something went wrong: " + response.status);
    }
  });
}


function get_data_display(url) {
    fetchJSON(url).then(show_comment)
}

get_data_display("{{fetch_url}}");

</script>
</div>
</body></html>
