<!DOCTYPE html>
<!--{% load static %}-->
{% load rest_framework %}

<html><body>

<h1>Comments</h1>

<div id="holder"></div>
<script>
function show_comment(data) {
    var holder = document.getElementById("holder");
      for (var i = 0; i < data.comments.length; i++) {
        let comment = document.createElement("div");
        holder.appendChild(comment);

        var author = document.createElement("a");
        let author_id = data.comments[i]['author']['id'];
        author.setAttribute('href', "{% url 'profile' pk=${author_id}%}");
        author.innerHTML = data.comments[i].author.displayName;
        author.style.fontSize='25px';
        author.style.display = "inline-block";
        comment.appendChild(author);
        var line = document.createElement("hr");
        comment.appendChild(line);
        var description = document.createElement("p");
        description.innerHTML = data.comments[i].description
        comment.appendChild(description);
        if (data.comments[i].contentType == "image/png;base64" || data.posts[i].contentType == "image/jpeg;base64")
        {
          var content = document.createElement("img");
          content.src = data.comments[i].content;
          content.style.width = "20%";
          content.style.height = "20%";
        }
        else
        {
          var content = document.createElement("p");
          content.innerHTML = data.comments[i].content;
        }
        comment.appendChild(content);
      if (data.next != null)
      {
        var nextButton = document.createElement("button");
        nextButton.innerHTML = 'next page';
        nextButton.onclick=function(){window.location.href=data.next} ;
        holder.appendChild(nextButton);
      }
      if (data.previous != null)
      {
        var preButton = document.createElement("button");
        preButton.innerHTML = 'previous page';
        preButton.onclick=function(){window.location.href=data.previous)} ;
        holder.appendChild(preButton);
      }
  }
  show_post({{data}});
</script>

<button id="home" class="float-left submit-button" >Home</button>

<script type="text/javascript">
    document.getElementById("home").onclick = function () {
        location.href = "{% url 'home' %}";
    };
</script>
</body></html>
