<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
  <h1>My Friends</h1>
  <div id="holder"></div>
  <script type="text/javascript">
  function show_request(data) {
      var holder = document.getElementById("holder");
      alert(data.serializer.length)
        for (var i = 0; i < data.serializer.length; i++) {
            alert('arrive ehre')
          let friend_block = document.createElement("div");
          holder.appendChild(friend_block);

          var friend = document.createElement("a");
          friend.innerHTML = data[i].displayName;
          friend.style.fontSize='25px';
          friend.style.display = "inline-block";
          friend_block.appendChild(friend);
          var line = document.createElement("br");
          friend_block.appendChild(line);
          var friend_url = document.createElement("a");
          friend_url.innerHTML = data[i].url;
          friend_url.href = data[i].url;
          friend_block.appendChild(friend_url);
          var line = document.createElement("br");
          var delete_friend = document.createElement("button");
          delete_friend.innerHTML = 'Delete Friend';
          var friend_obj_id = data[i].id;
          delete_friend.onclick=function(){
            HandleFriendRequest('/myfriends/views/'+friend_obj_id+'/delete/');
          };
          friend_block.appendChild(delete_friend);
          function HandleFriendRequest(url) {
            var request = new Request(url, {
                        method: 'Delete',
                        headers: {
                             'Content-Type': 'application/json'
                        },
                        });
            return fetch(request).then((response) => {
              if (response.status === 200) { // OK
                  alert('here')
                return response.json(); // return a Promise
              } else {
                alert("Something went wrong: " + response.status);
              }
            });
          }
          var line = document.createElement("hr");
          friend_block.appendChild(line);
    }
  }

  // https://uofa-cmput404.github.io/cmput404-slides/08-AJAX.html#/9
  // https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch
  function fetchJSON(url) {
    var request = new Request(url, {
                method: 'GET',
                headers: {
                     'Content-Type': 'application/json'
                },
                });
    return fetch(request).then((response) => {
      if (response.status === 200) { // O
        return response.json(); // return a Promise
      } else {
        alert("Something went wrong: " + response.status);
      }
    });
  }


  function get_data_display(url) {
      fetchJSON(url).then(show_request)
  }

  get_data_display("{{fetch_url}}");

  </script>

  <button id="home" class="float-left submit-button" >Home</button>

  <script type="text/javascript">
      document.getElementById("home").onclick = function () {
          location.href = "{% url 'home' %}";
      };
  </script>
</body>
</html>
