<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
  <h1>Friend Request</h1>
  <div id="holder"></div>
  <script type="text/javascript">
  function show_request(data) {
      var holder = document.getElementById("holder");
        for (var i = 0; i < data.length; i++) {
          let request = document.createElement("div");
          holder.appendChild(request);

          var sender = document.createElement("p");
          sender.innerHTML = data[i].displayName;
          author.style.fontSize='25px';
          author.style.display = "inline-block";
          request.appendChild(sender);
          var line = document.createElement("br");
          request.appendChild(line);
          var sender_url = document.createElement("a");
          sender_url.innerHTML = data[i].url;
          sender_url.href = data[i].url;
          request.appendChild(sender_url);
          var line = document.createElement("br");
          var decline = document.createElement("button");
          decline.innerHTML = 'Decline';
          var accept = document.createElement("button");
          accept.innerHTML = 'Accept';
          decline.onclick=function(){
            HandleFriendRequest('/friendrequest/', 'decline', this.parentNode.getElementByTagName('a').innerHTML);
          };
          accept.onclick=function(){
            HandleFriendRequest('/friendrequest/', 'accept', this.parentNode.getElementByTagName('a').innerHTML);
          };
          request.appendChild(decline);
          request.appendChild(accept);
          function HandleFriendRequest(url, decision, friend_url) {
            var request = new Request(url, {
                        method: 'PUT',
                        headers: {
                             'Content-Type': 'application/json'
                        },
                       data: {'decision': decision,
                              'friend_url': friend_url},
                        });
            return fetch(request).then((response) => {
              if (response.status === 200) { // OK
                return response.json(); // return a Promise
              } else {
                alert("Something went wrong: " + response.status);
              }
            });
          }
          var line = document.createElement("hr");
          request.appendChild(line);
    }
  }

  // https://uofa-cmput404.github.io/cmput404-slides/08-AJAX.html#/9
  // https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch
  function fetchJSON(url) {
    var request = new Request(url, {
                method: 'GET',
                headers: {
                     'Content-Type': 'application/json'
                },
                });
    return fetch(request).then((response) => {
      if (response.status === 200) { // OK
        return response.json(); // return a Promise
      } else {
        alert("Something went wrong: " + response.status);
      }
    });
  }


  function get_data_display(url) {
      fetchJSON(url).then(show_request)
  }

  get_data_display("{{fetch_url}}");


  </script>

  <button id="home" class="float-left submit-button" >Home</button>

  <script type="text/javascript">
      document.getElementById("home").onclick = function () {
          location.href = "{% url 'home' %}";
      };
  </script>
</body>
</html>
