{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
  </head>
<STYLE>A {text-decoration: none;} </STYLE>
<body>

    <div class="nav">
        <a class="title" href="{% url 'home' %}">Natto</a>
        <nav>

            <form  arial-label="profile picture" accept-charset="UTF-8" method="post">
                <img src="{% static 'profile.png' %}" class="image-circle">
            <input type="text" placeholder="Search..">
            <ul>
                <li><a href="../author/{{user_id}}">Profile</a></li>
                <li><a href="{% url 'my_posts' %}">My Post</a></li>
                <li><a href="{% url 'get_post_for_user' %}">Other's Posts</a></li>
                <li><a href="#">Followers</a></li>
                <li><a href="#">My photos</a></li>
                <li><a href="#">Friend Requests</a></li>

            </ul>
        </nav>
    </div>

<!--form action="{% url 'home' %}" method="POST">
    <div id="container" class="w3-container">
        <div id = "share" class="share" >Share what's new with you...</div>
        <div class="input">
          <textarea name="shares" cols="30" rows="5"></textarea>
        </div>
        <div class= "options">< needing opstions of whether the tweet is photo or text>

          Private:<input name="filling" value="private" type="radio">
          Public:<input name="filling" value="public" type="radio">
            <input id="button_s" type="submit" value="share">
        </div>

    </div>

</form-->


<button id="backtop" onclick="topFunction()" tilte="Go to Top">TOP</button>
<script>
  window.onscroll = function() {scrollFunction()};
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("backtop").style.display = "block";
    } else {
      document.getElementById("backtop").style.display="none";
    }
  }
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
    </body>
</html>
