{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
  </head>
<STYLE>A {text-decoration: none;} </STYLE>
<body>

    <div class="nav">
        <a class="title" href="{% url 'home' %}">Natto</a>
        <nav>

            <form  arial-label="profile picture" accept-charset="UTF-8" method="post">
                <img src="{% static 'profile.png' %}" class="image-circle">
            <input type="text" placeholder="Search..">
            <ul>
                <li><a href="../author/{{user_id}}">Profile</a></li>
                <li><a href="{% url 'my_posts' %}">My Post</a></li>
                <li><a href="{% url 'get_post_for_user' %}">Other's Posts</a></li>
                <li><a href="#">Followers</a></li>
                <li><a href="#">My photos</a></li>
                <li><a href="{% url 'friend_requests' %}">Friend Requests</a></li>
                <li><a href="{% url 'myfriends_render' %}">My Friends</a></li>
                <li><a id='logout' href="{% url 'logout' %}">LOGOUT</a></li>

            </ul>
        </nav>
    </div>


    </body>
</html>
