{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

  </head>
<STYLE>A {text-decoration: none;} </STYLE>
<body>
  
    <div id = "bg">
        
        <div class = "onhead">
              <form  arial-label="profile picture" accept-charset="UTF-8" method="post">
                  <img src="{% static 'profile.png' %}" class="image-circle">
            <input type="text" placeholder="Search..">
            <a href="{% url 'home' %}">Natto</a>
          
        </div>
    </div>

<div class="sidebar">
  <div class = "link1"><b href="author">Profile</b><div class="block1"></div> <div class="h_line"></div></div>
  <div class = "link2"><b href="#">Somthing</b><div class="block2"></div> <div class="h_line"></div></div>
  <div class = "link3"><b href="#">newstuff</b><div class="block3"></div> <div class="h_line"></div></div>
</div>

<button id="backtop"><a href="#top" style="color: white">TOP</button>


<!-- section container -->
<div id="container" class="w3-container">
    </div>




    </body>
</html>
