<!DOCTYPE html>
{% load static %}
{% load rest_framework %}
<title>Posts</title>
<link rel="stylesheet" href="{% static 'onePost.css' %}">

<html><body>

<h1>Post - {{ serializer.title }}</h1>

</script>

<button id="home" class="float-left submit-button" >Home</button>

<script type="text/javascript">
    document.getElementById("home").onclick = function () {
        location.href = "{% url 'home' %}";
    };
</script>
<button id="comments">Comments</button>
<script type="text/javascript">
    document.getElementById("comments").onclick = function () {
        location.href = window.location.href + "comments/view/";
    };
</script>

</script>

<button id="home" class="float-left submit-button" >Home</button>

<script type="text/javascript">
    document.getElementById("home").onclick = function () {
        location.href = "{% url 'home' %}";
    };
</script>
<button id="comments">Comments</button>
<script type="text/javascript">
    document.getElementById("comments").onclick = function () {
        location.href = window.location.href + "comments/view/";
    };
</script>

<div id="container">
    <ul>
      <li> <h1>Title: {{serializer.title}}</h1></li>
      <li> Origin: {{serializer.origin}}</li>
      <li> Source: {{serializer.source}} </li>
      <li> Date: {{serializer.published}}</li>
      <li><a href="/author/{{serializer.author.id}}/"> Author: {{serializer.author.displayName}}</a></li>
    </ul>
</div>
<input type="hidden" value="{{serializer.contentType}}" id="contentType">
<input type="hidden" value="{{serializer.content}}" id="content">
<!-- <script src="https://raw.githubusercontent.com/jgm/commonmark.js/master/dist/commonmark.js"></script> -->
<script type="application/javascript" src="https://cdn.rawgit.com/jgm/commonmark.js/master/dist/commonmark.js"></script>
<script type="text/javascript">
 var container = document.getElementById("container");
 var contentType = document.getElementById("contentType").value;
 var content_value = document.getElementById("content").value;
 var content_line = document.createElement("h1");
 content_line.innerHTML = "Post Content: ";
 container.appendChild(content_line)
if ( contentType == "image/png;base64" || contentType == "image/jpeg;base64")
{
  var content = document.createElement("img");
  content.src = content_value;
  content.style.width = "50%";
  content.style.height = "50%";
}
else if (contentType == "text/plain")
{
  var content = document.createElement("p");
  content.innerHTML = content_value;
}
else if (contentType == "text/markdown")
{
  var content = document.createElement("div");
  var reader = new commonmark.Parser();
  var writer = new commonmark.HtmlRenderer({softbreak: "<br />"});
  var parsed = reader.parse(content_value); // parsed is a 'Node' tree
  // transform parsed if you like...
  var result = writer.render(parsed);
  content.insertAdjacentHTML('beforeend', result);
}
var container = document.getElementById("container");
container.appendChild(content);

</script>

</body></html>
