<!DOCTYPE html>
{% load static %}
{% load rest_framework %}
<title>Posts</title>
<link rel="stylesheet" href="{% static 'posts.css' %}">
<STYLE>A {text-decoration: none;} </STYLE>
<html><body>

<div class="nav">
    <a class="title" href="{% url 'home' %}">Natto</a>Natto
    <nav>

        <form  arial-label="profile picture" accept-charset="UTF-8" method="post">
            <img src="{% static 'profile.png' %}" class="image-circle">
        <input type="text" placeholder="Search..">
        <ul>
            <li><a href=".">Profile</a></li>
            <li><a href="{% url 'my_posts' %}">My Post</a></li>
            <li><a href="{% url 'get_post_for_user' %}">Other's Posts</a></li>
            <li><a href="#">Followers</a></li>
            <li><a href="#">My photos</a></li>
            <li><a href="#">Friend Requests</a></li>
            <li><a id='logout' href="{% url 'logout' %}">LOGOUT</a></li>

        </ul>
    </nav>
</div>

<div class='pro'>

<h1>Posts</h1>

<a id = "home" class="float-left submit-button" href = "{% url 'home' %}">Home</a>
<!-- <button id="home" class="float-left submit-button" ><span>Home</span></button>

<script type="text/javascript">
    document.getElementById("home").onclick = function () {
        location.href = "{% url 'home' %}";
    };
</script> -->
<a id='addpost' class="float-right submit-button" href = "{% url 'add_post' %}">ADD POST</a>

<!-- <button id='addpost' class='float-right submit-button'><span>ADD POST </span></button>
<script type="text/javascript">
    document.getElementById("addpost").onclick = function() {
        location.href = "{% url 'add_post' %}";
    };
  </script> -->
    
<div id="holder"></div>
<script type="text/javascript">
function show_post(data) {
    var holder = document.getElementById("holder");
      for (var i = 0; i < data.posts.length; i++) {
        let post = document.createElement("div");
        holder.appendChild(post);

        var author = document.createElement("a");
        let author_id = data.posts[i]['author']['id'];
        console.info(data.posts[i].author.displayName);
        author.innerHTML = 'Author: ' + data.posts[i].author.displayName;
        author.href = '/author/' + author_id +'/';
        author.style.fontSize='25px';
        author.style.display = "inline-block";
        post.appendChild(author);
        var line = document.createElement("br");
        post.appendChild(line);
        var post_link = document.createElement("a");
        let postid = data.posts[i].id
        post_link.innerHTML = "Post title: " + data.posts[i].title;
        post_link.href = '/posts/' + postid + '/';
        post.appendChild(post_link);
        var line = document.createElement("br");
        post.appendChild(line);
        var description = document.createElement("p");
        description.innerHTML = "description: " + data.posts[i].description
        post.appendChild(description);
        if ({{is_my_post|safe}}===true){
          var edit_button = document.createElement("button");
          edit_button.innerHTML = 'Edit';
          var del_button = document.createElement("button");
          del_button.innerHTML = 'Delete';
          edit_button.onclick=function(){
            location.href = '/posts/' + postid + '/edit_post/';
          };
          del_button.onclick=function(){
            location.href = '/posts/' + postid + '/del_post/';
          };
          post.appendChild(edit_button);
          post.appendChild(del_button);
        }
        var line = document.createElement("hr");
        post.appendChild(line);
      if (data.next != null)
      {
        var nextButton = document.createElement("button");
        nextButton.innerHTML = 'next page';
        nextButton.onclick=function(){
          get_data_display(data.next);
        };
        holder.appendChild(nextButton);
      }
      if (data.previous != null)
      {
        var preButton = document.createElement("button");
        preButton.innerHTML = 'previous page';
        preButton.onclick=function(){
          get_data_display(data.previous);
        };
        holder.appendChild(preButton);
      }
  }
}

// https://uofa-cmput404.github.io/cmput404-slides/08-AJAX.html#/9
// https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch
function fetchJSON(url) {
  var request = new Request(url, {
              method: 'GET',
              headers: {
                   'Content-Type': 'application/json'
              }, });
  return fetch(request).then((response) => {
    if (response.status === 200) { // OK
      return response.json(); // return a Promise
    } else {
      alert("Something went wrong: " + response.status);
    }
  });
}


function get_data_display(url) {
    fetchJSON(url).then(show_post)
}

get_data_display("{{fetch_url}}");
</script>
</div>

</body></html>
