<!DOCTYPE html>
<!--{% load static %}-->
{% load rest_framework %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'profile.css' %}">
</head>
<STYLE>A {text-decoration: none;} </STYLE>

<body>

<h1>Profile - {{ profile.displayName }}</h1>

<form action="../../home" method="GET">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="Save" readonly>
</form>

<form action="{% url 'edit_profile' profile.id%}" method="POST">
    {% csrf_token %}
    <input type="submit" value = "Edit">
</form>

</body></html>