<!DOCTYPE html>
<!--{% load static %}-->
{% load rest_framework %}

<title>Profile</title>
<link rel="stylesheet" href="{% static 'profile.css' %}">
<html><body>

<h1>Profile - {{ serializer.displayName }}</h1>

<form action="{% url 'home' %}" method="GET">
    {% csrf_token %}
    <ul>

        <li>Display Name：{{serializer.displayName}}</li>
        <li>Github：{{serializer.github}}</li>
        <li>First Name：{{serializer.firstName}}</li>
        <li>Last Name：{{serializer.lastName}}</li>
        <li>Email：{{serializer.email}}</li>
        <li>Bio：{{serializer.bio}}</li>
        <input type="submit" value = "Home">
    </ul>
</form>
{% if if_author %}
<form action="{% url 'edit_profile' serializer.id%}" method="GET">
    {% csrf_token %}
    <input type="submit" value = "Edit">
</form>
{% endif %}

{% if not if_author %}
<form action="" method="POST">
    {% csrf_token %}

    {% if able_friend %}
    <input type="submit" value = "Send Friendrequest">
    {% endif %}

    {% if not able_friend %}
    <input disabled type="submit" value = "Send Friendrequest">
    {% endif %}
</form>
{% endif %}

</body></html>
