<!DOCTYPE html>
<!--{% load static %}-->
{% load rest_framework %}

<html><body>

<h1>Profile - {{ serializer.displayName }}</h1>

<form action="../../home" method="GET">
    {% csrf_token %}
    <ul>

        <li>Display Name：{{serializer.displayName}}</li>
        <li>Github：{{serializer.github}}</li>
        <li>First Name：{{serializer.firstName}}</li>
        <li>Last Name：{{serializer.lastName}}</li>
        <li>Email：{{serializer.email}}</li>
        <li>Bio：{{serializer.bio}}</li>
    </ul>
    <input type="submit" value="Save" readonly>
</form>

<form action="{% url 'edit_profile' serializer.id%}" method="GET">
    {% csrf_token %}
    <input type="submit" value = "Edit">
</form>

</body></html>