
<!DOCTYPE HTML>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sign Up Done!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'signup_done.css' %}">
  </head>
  <STYLE>A {text-decoration: none;} </STYLE>
  <body>
    <div><b href="{% url 'registration_complete' %}">Natto</b></div>
    <div id ="signupdone">
        <h2>Sign up finished, but approvel needed.<br>
            Thank you for signing up!<br>
        </h2>
      <a href = "/login/"> Return</a>
    </div>
  </body>
</html>
